.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80dvh;

    img {
        max-width: 100%;
        max-height: 100%;
        filter: var(--loader);
    }
}