.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
}

.logo {
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    color: #4793ff;
    gap: 20px;
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    gap: 25px;
    position: relative;

    // .search__input
    &__input {
        background: rgba(71, 147, 255, 0.2);
        border-radius: 10px;
        max-width: 210px;
        width: 100%;
        padding: 9px 20px;
        font-weight: 500;
        padding-right: 36px;

        &::placeholder {
            color: inherit;
        }
    }

    &__btn {
        background: rgba(71, 147, 255, 0.2);
        padding: 9px;
        border-radius: 10px;
        position: absolute;
        right: 0;
    }
}