@import url(./fonts.scss);

:root {
    --body: #fff;
    --color: #000;
    --loader: invert(0%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

ul {
    list-style: none;
}

body {
    font-family: "Montserrat";
    background: var(--body);
    color: var(--color);

    &.active {
        --body: #000;
        --color: #fff;
        --loader: invert(100%);
    }
}

input, textarea, button {
    border: none;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background: transparent;
}

button {
    cursor: pointer;
}